.main {
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/assets/images/landingpage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  padding-left: 20px;

  a {
    margin-right: 20px;
  }

  .spacer {
    flex: 1
  }
}


.content {
  margin-top: 82px;
  padding: 0 16px;
}

