<mat-card *ngIf="employee" class="employee-details-container">
  <mat-card-content>
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee()" novalidate>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [(ngModel)]="employee.firstName"
            name="firstName"
            required
            minlength="2"
            #firstName="ngModel"
          />
          <mat-error *ngIf="firstName.errors?.['required']">First Name is required</mat-error>
          <mat-error *ngIf="firstName.errors?.['minlength']">
            First Name must be at least 2 characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            [(ngModel)]="employee.lastName"
            name="lastName"
            required
            #lastName="ngModel"
          />
          <mat-error *ngIf="lastName.errors?.['required']">Last Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="employee.email"
            name="email"
            required
            email
            #email="ngModel"
          />
          <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="email.errors?.['email']">Invalid email format</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            [(ngModel)]="employee.phoneNumber"
            name="phoneNumber"
            required
            #phoneNumber="ngModel"
          />
          <mat-error *ngIf="phoneNumber.errors?.['required']">Phone Number is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" id="position" appearance="fill">
          <mat-label>Position</mat-label>
          <mat-select
            [(ngModel)]="employee.positionId"
            name="positionId"
            required
            #positionId="ngModel"
          >
            <mat-option *ngFor="let position of jobPositions" [value]="position.id.toString()">
              {{ position.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="positionId.errors?.['required']">Position is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field full-width" appearance="fill">
          <mat-label>Job Requirements</mat-label>
          <textarea
            matInput
            [(ngModel)]="employee.jobRequirements"
            name="jobRequirements"
            rows="3"
            #jobRequirements="ngModel"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            [(ngModel)]="employee.address1"
            name="address1"
            required
            #address1="ngModel"
          />
          <mat-error *ngIf="address1.errors?.['required']">Address is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="fill" style="flex: 2;">
          <mat-label>City</mat-label>
          <input
            matInput
            [(ngModel)]="employee.city"
            name="city"
            required
            #city="ngModel"
          />
          <mat-error *ngIf="city.errors?.['required']">City is required</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill" style="flex: 1;">
          <mat-label>State</mat-label>
          <mat-select
            [(ngModel)]="employee.state"
            name="state"
            required
            #state="ngModel"
          >
            <mat-option *ngFor="let state of states" [value]="state.abbreviation">
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="state.errors?.['required']">State is required</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>ZIP</mat-label>
          <input
            matInput
            [(ngModel)]="employee.zip"
            name="zip"
            required
            #zip="ngModel"
          />
          <mat-error *ngIf="zip.errors?.['required']">ZIP is required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content> 
  <mat-card-actions>
    <button class="delete-btn" (click)="deleteEmployee()">Remove Employee</button>
    <button class="save-btn" [disabled]="!employeeForm.valid"(click)="saveEmployee()">Save</button>
  </mat-card-actions>
</mat-card>